<%- errorMessagesFor(reason) %>
<div class="control-group">
   <%- form.label("title", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("title") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("content", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("content") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("day", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("day") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("author", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("author") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("country", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("country") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("type", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("type") %>
   </div>
</div>