<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="<%- pathTo.reasons() %>">reasons</a> <span class="divider">/</span></li>
    <li class="active"><a href="#">Edit reason</a></li>
</ul>

<div class="page-header">
    <h1>Edit reason</h1>
</div>

<% var form = formFor(reason, {action: pathTo.reason(reason), method: 'PUT', id: "reason-form", class: 'form-horizontal'}) %>
<%- form.begin() %>
<%- include _form %>
<div class="form-actions">
    <%- form.submit('<i class="icon-ok icon-white"></i> Update reason', {class: 'btn btn-primary'}) %> or
    <%- linkTo('Cancel', pathTo.reason(reason), {class: 'btn'}) %>
</div>
<%- form.end() %>
