<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="<%- pathTo.reasons %>">reasons</a> <span class="divider">/</span></li>
    <li class="active"><a href="#">Details of reason</a></li>
</ul>

<div class="page-header">
    <h1>Details of reason</h1>
</div>

<table class="table table-bordered">
    <tbody>
        <tr><th>title</th><td><%= reason.title %></td></tr>
        <tr><th>content</th><td><%= reason.content %></td></tr>
        <tr><th>day</th><td><%= reason.day %></td></tr>
        <tr><th>author</th><td><%= reason.author %></td></tr>
        <tr><th>country</th><td><%= reason.country %></td></tr>
        <tr><th>type</th><td><%= reason.type %></td></tr>
    </tbody>
</table>

<div class="well">
    <%- link_to('<i class="icon-edit icon-white"></i> Edit', pathTo.edit_reason(reason), {class: 'btn btn-primary'}) %>
    <%- link_to('<i class="icon-remove icon-white"></i> Delete', pathTo.reason(reason), {class: 'btn btn-danger', method: 'delete', remote: true, jsonp: '(function (u) { location.href = u; })'}) %>
    or
    <%- link_to('Back to index', pathTo.reasons) %>
</div>
